################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WCF/WCFTrain/CalcCononsoleClient/bin/Debug
/WCF/WCFTrain/CalcCononsoleClient/obj/Debug/CalcCononsoleClient.csproj.CoreCompileInputs.cache
/WCF/WCFTrain/CalcCononsoleClient/obj/Debug
/WCF/WCFTrain/CalcServer/bin/Debug
/WCF/WCFTrain/CalcServer/obj/Debug
/WCF/WCFTrain/ClientWin/bin/Debug
/WCF/WCFTrain/ClientWin/obj/Debug
/WCF/WCFTrain/Server/obj/Debug
/WCF/WCFTrain/ServerWin/bin/Debug
/WCF/WCFTrain/ServerWin/obj/Debug
/WCF/WCFTrain/TransactionCalcClient/obj/Debug
/WCF/WCFTrain/TranzactionCalcServer/obj/Debug
/WCF/WebClient1/WebClient1/bin
/WCF/WCFTrain/Client/obj/Debug
/WCF/WCFTrain/CalcClient/obj/Debug
/WCF/WCFTrain/.vs/WCFTrain/v15
/IdentityTrain/.vs/IdentityTrain/v15
/aspMVCTrain/Routing1/obj/Debug
/IdentityTrain/.vs/config
/aspMVCTrain/mvc1/obj/Debug
/aspMVCTrain/MemberShip1/obj/Debug
/aspMVCTrain/FiltersAndAuth/obj/Debug
/aspMVCTrain/Deploy/obj/Debug
/aspMVCTrain/AuthWindows/obj/Debug
/aspMVCTrain/AuthWindows/bin
/aspMVCTrain/aspMVCTrain/obj/Debug
/aspMVCTrain/AreaTrain/obj/Debug
/aspMVCTrain/AreaTrain/bin
/aspMVCTrain/Areas/obj/Debug
/aspMVCTrain/Areas/bin
/aspMVCTrain/ActionFilters/obj/Debug
/aspMVCTrain/.vs/aspMVCTrain/v15
/aspMVCTrain/.vs/config
