################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WCF/WCFTrain/CalcCononsoleClient/bin/Debug
